@model IEnumerable<PAW.Models.Product>
@{
    ViewData["Title"] = "Product";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de que esta línea esté presente
}

<h1>Product</h1>

@functions {
    public string transformPrice(decimal value)
    {
        return $"¢ {value}";
    }
}
<div class="container">
    @foreach (var p in Model)
    {
        <ul>
            <li>@p.ProductId</li>
            <li>@p.ProductName</li>
            
            @switch (p.ProductName)
            {
                case "Coca Cola":
                    <li>@p.ProductName <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Coca-Cola_logo.svg/1200px-Coca-Cola_logo.svg.png" width="25" /></li>
                    break;
                case "Play Station 5":
                    <li>PS5 <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-product-thumbnail-01-en-14sep21?$facebook$" width="25" /></li>
                    break;
            }
            <li>@p.Category?.CategoryName</li>
            <li>@p.Supplier?.SupplierName</li>
        </ul>
    }
</div>